# Ignore Nextflow logs and cache
.nextflow.log*
.nextflow/cache/
.nextflow/history

# Ignore DS_Store files
.DS_Store
*.DS_Store

# Ignore large data files
data/raw_fastq/*.fastq
data/trimmed/*.fastq
data/alignment/*.bam
data/alignment/*.bai

# Ignore reference genome indices (large)
data/reference/*.amb
data/reference/*.ann
data/reference/*.bwt
data/reference/*.pac
data/reference/*.sa

# Ignore work directory
work/
