# Nextflow logs and cache
.nextflow.log*
.nextflow/
.nextflow/cache/
.nextflow/history

# macOS junk
.DS_Store
*.DS_Store

# Ignore everything inside data subdirs, but keep the dirs via .gitkeep

data/raw_fastq/*
!data/raw_fastq/.gitkeep

data/reference/*
!data/reference/.gitkeep

data/trimmed/*
!data/trimmed/.gitkeep

data/alignment/*
!data/alignment/.gitkeep

data/coverage/*
!data/coverage/.gitkeep

data/logs/*
!data/logs/.gitkeep

data/reports/*
!data/reports/.gitkeep

data/fastqc/*
!data/fastqc/.gitkeep

# Nextflow work directory
work/
.nextflow*
